body {
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
}

.body {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

section.form {
    display: grid;
    padding: 20px;
    background-color: white;
    border-radius: .5em;
    width: min-content;
}

section.form label {
    display: grid;
}

section.form form {
    display: grid;
    width: 50%;
    max-width: 600px;
    gap: .5em;
}

section.form form input, section.form form select {
    padding: .2em;
    font-size: 1em;
    margin: .3em 0;
    border: grey 1px solid;
}

section.form form .error input, section.form form .error input {
    border-color:red;
}

section.form form .error div {
    color:firebrick;
}